.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social {
  display: flex;
}

.logo {
  flex: 2;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}